
body {
    width: 1024px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding-bottom: 30px;
}

    .content a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: #0eb493;
        font-size: 25px;
    }

.container {
    width: 100%;
    height: 100%;
}

    .container img {
        margin: 0 auto;
        display: block;
        float: none;
    }

footer {
    margin-top: 0;
}
