body{
	font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 14px;
    color: black;
    font-weight: bold;
    background: #DEF7FE;
}

.mainHead {
    background: #DEF7FE;
}
/**/
.carousel-control-prev {
    background-image: url(../img/arrow-left.png);
    background-position: 50%;
    background-repeat: no-repeat;
}

.carousel-control-next {
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
.carousel-caption{
	text-align: center;
	margin-bottom: 7%
}
.carousel-caption h2{
	font-size: 62px;
	color: #fff;
	font-weight: 700;
}
.carousel-caption h4{
	font-size: 48px;
	color: #fff;
	font-weight: 300;
}
.carousel-caption p{
	font-size: 18px;
	color: #fff;
	font-weight: 300;
}

.carousel-block span::before {
    content: "";
    height: 1px;
    width: 3%;
    position: absolute;
    left: 32%;
    top: 80%;
    background: #FFD700;
}

.carousel-block span::after {
    content: "";
    height: 1px;
    width: 3%;
    position: absolute;
    top: 80%;
    left: 66%;
    background: #FFD700;
}

.carousel-indicators li {
	position: relative;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 10px;
	height: 10px;
	border-radius:50px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	border: solid white 1px;
	background: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.text-block{
	background: #f5f6fa;
	padding: 50px 0px 100px;
}

.text-block h2{
	color: #0eb493;
	font-size: 28px;
	padding: 50px;
	font-weight: 800;
	text-align: center;
}
    .text-block a {
        font-size: 20px;
        color: #DEF7FE;
        border-radius: 50%;
        border: 2px solid #FFD700;
        padding: 10px;
        margin-left: -66px;
    }

.container h3{
	font-size: 20px;
	color: #062033;
	font-weight: 600;
	display: inline-block;
	padding-left: 13px;
}
.text-block span i:before{
	color: grey;
	margin-left: 830px;
}

.row{
	margin-top: 30px;
}

.container h2{
	color: #0eb493;
	font-weight: 800;
	margin-top: 50px;
}
.card-body{
	background: #f5f6fa;
}
.card{
	border: 0;
	margin-bottom: 50px;
}
.card h5{
	font-size: 18px;
	color: #0c9a7e;
	font-weight: 600;
}
.card-text{
	font-size: 16px;
	color: #062033;
	font-weight: 400;
	font-style: italic;
}

.btnColor {
    background: #0eb493;
}

.rememberMeSpan{
    color: blue;
}

.inputRememberMe {
    line-height: 18px;
}

.card .btn-lg {
    font-size: 14px;
    color: #fff;
    background: #0eb493;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 8%;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.SMF{
	padding-top: 100px;
}
.SMF{
	background-image: url(../img/pic.jpg);
	background-size: cover;
}
    .SMF h2 {
        font-size: 28px;
        color: #FFD700;
        font-weight: 800;
        text-transform: uppercase;
        padding: 20px;
    }

.facts i{
	border-radius: 50%;
	border: 1px solid #5b6974;
	padding: 45px;
	color: white;
	margin-top: 20px;
}
.facts p{
	font-size: 60px;
	color: white;
	font-weight: 600;
	margin-bottom: 0;
}
.facts span{
	font-size: 18px;
	color: white;
	font-weight: 400;
}
.facts i{
	font-size: 30px;
}
footer {
    font-size: 13px;
    font-weight: 400;
    background: #DEF7FE;
    margin-top: 100px;
    padding: 20px;
    text-align: right;
    color: black;
}
.container img{
	float: left;
}