﻿@using Microsoft.AspNetCore.Identity
@using OnlineSchool.Web.Data
@using OnlineSchool.Web.Data.Entities


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext _DbContext
@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>



@if (SignInManager.IsSignedIn(User))
{
    string id = UserManager.GetUserId(User);
    string name = _DbContext.Users.FirstOrDefault(x => x.Id == id).Name;
    <div class="container text-center">
        <p>
            <h2>
                Здраствуйте, @name
            </h2>

        Мы приветствуем Вас на нашем сервисе "Онлайн-курсы".
        <p>
            Наш сервис предназначен для просмотра интелектуального видео.
        </p>
        <p>
            На данный момент на нашем сайте вы сможете найти 1356 видео по 65 категориям. Оплачивая наши курсы, вы получаете от нас проффесиональные знания, которые несут в себе большие перспективы и могут быть реализованы в вашей профессиональной деятельности.
        </p>

    </div>

}
else
{
    <div class="container text-center">
        <p>
        <h4>
            Здраствуйте!
        </h4>

        Мы приветствуем Вас на нашем сервисе "Онлайн-курсы".
        <p>
            Наш сервис предназначен для просмотра интелектуального видео.
        </p>
        <p>
            На данный момент на нашем сайте вы сможете найти 1356 видео по 65 категориям. Оплачивая наши курсы, вы получаете от нас проффесиональные знания, которые несут в себе большие перспективы и могут быть реализованы в вашей профессиональной деятельности.
        </p>

    </div>
}








    @section Scripts {

    }