﻿@{
    ViewData["Title"] = "Контакты";
}

<div class="container text-center">
    
    <address>
        <h2> Контакты администрации</h2><br />
        <h3>0772671360</h3>
    </address>

    <address>
        <h3><strong>Email:</strong> <a href="mailto: gulzinamunduzkyzy@gmail.com"> gulzinamunduzkyzy@gmail.com</a></h3>
    </address>
</div>

