﻿
@{
    ViewData["Title"] = "GetPay";
}

<body>
    <div class="container" style="text-align:center">
        <br />
        <h3>@ViewBag.Message</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/img1.jpg" class="card-img-top" alt="..." style="width: 155px; margin: 0 auto;">
                    <div class="card-body">
                        <h5 class="card-title">Стандартный</h5>
                        <p class="card-text">Тариф - стандарт</p>
                        <a href="#" class="btn btn" style="background-color:royalblue; color: black;">Выполнить</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/large_rococo__120000_____1509803833.jpg" class="card-img-top" alt="..." style="width: 155px; margin: 0 auto;">
                    <div class="card-body">
                        <h5 class="card-title">Серебро</h5>
                        <p class="card-text">Пакет услуг - три месяца</p>
                        <a href="#" class="btn btn" style="background-color:silver; color: black;">Выполнить</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Панно 21-02.jpg" class="card-img-top" alt="..." style="width: 155px; margin: 0 auto;">
                    <div class="card-body">
                        <h5 class="card-title">Золото</h5>
                        <p class="card-text">Неограниченный пакет услуг</p>
                        <a href="#" class="btn btn" style="background-color:gold; color: black;">Выполнить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




