﻿@model IEnumerable<OnlineSchool.Web.Data.Entities.Category>
@{
    Layout = "../Shared/_Layout";
}
@{
    ViewData["Title"] = "Главная";
}

<div class="container text-center">
    <h2>Категории</h2>
    
    <div class="row">
        @foreach (var item in @Model)
        {
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card">
                    <a asp-action="GetVideosByCategory" asp-controller="Video" asp-route-id="@item.Id"><img class="card-img-top" src="~/@item.ImagePath" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5>@item.Name</h5>
                        <a asp-action="GetVideosByCategory" asp-controller="Video" asp-route-id="@item.Id" class="btn btn-lg">Открыть  >></a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

