﻿@model OnlineSchool.Web.ViewModels.VideoViewModel
@using OnlineSchool.Web.Data.Entities;
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            
            
            <form asp-action="AddVideo" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Название</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Описание</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Категория</label>
                    <select asp-for="CategoryId" class="form-control" />
                    <option></option>
                    @foreach (var item in (List<Category>)(ViewBag.categories))
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


            
                <div style="margin-top: 200px;" class="form-group">
                    <label asp-for="VideoFile" class="control-label">Видео</label>
                    <input asp-for="VideoFile" type="file" class="form-control" accept="video/*" placeholder="Video" />
                    <span asp-validation-for="VideoFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" asp-action="AddVideo" value="Создать" class="btn btn-lg btn-block btnColor" />
                </div>
            </form>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4"></div>
    </div>

</div>


<div>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>






