﻿@model OnlineSchool.Web.ViewModels.CategoriesWithVideosViewModel

@{
    ViewData["Title"] = Model.MainCategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    @if (Model.Videos.Count != 0)
    {
        <h2 class="h2subcategory">Видео</h2>
        <div class="row">
            @foreach (var item in @Model.Videos)
            {
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="card">
                        <a asp-action="VideoDetails" asp-controller="Video" asp-route-id="@item.Id">
                            <img class="card-img-top img-responsive" src="~/images/default_video__img.svg" width="155" height="155" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5>@item.Title</h5>
                            <h5>@item.DateCreate</h5>
                            <h5>@item.Views</h5>
                            <a asp-action="GetCategory" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-lg btnkurs">Просмотр >></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <h2 class="h2subcategory">Видео по этой категории не найдено</h2>
    }
    <hr/>
    @if (@Model.SubCategories.Count != 0)
    {
        <h2 class="h2subcategory">Подкатегории</h2>
        <div class="row">
            @foreach (var item in @Model.SubCategories)
            {
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="card">
                        <a asp-action="GetVideosByCategory" asp-controller="Video" asp-route-id="@item.Id">
                            <img class="card-img-top" src="~/@item.ImagePath" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5>@item.Name</h5>

                            <a asp-action="GetCategory" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-lg btnkurs">Открыть курс >></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }

    @if (Model.Сourses.Count != 0)
    {
        <h2 class="h2subcategory">Курсы по этой категории</h2>
       
        <div class="row">
            @foreach (var item in @Model.Сourses)
            {
                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="card">
                        <a asp-action="GetVideosByCategory" asp-controller="Video" asp-route-id="@item.Id">
                            <img class="card-img-top img-responsive" src="~/images/default_video_course_img.svg" width="155" height="155" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5>@item.Name</h5>
                            <h5>@item.Category.Name</h5>
                          

                            <a asp-action="GetCategory" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-lg btnkurs">Просмотр >></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <h2 class="h2subcategory">Курсов по этой категории не найдено</h2>
    }
</div>