﻿@model OnlineSchool.Web.Data.Entities.Video
@using OnlineSchool.Web.Data.Entities;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        video {
            position: relative
        }

        *, ::after, ::before {
            text-align: center;
        }
    </style>


    <title>VideoDetails</title>
</head>
<body>

    <div style="margin-bottom:30px;">
        <div style="margin-top:30px;width:540px;height:321px;margin-left:auto;margin-right:auto">
            <iframe class="video"
                    width="540"
                    height="321"
                    src="@Model.VidePath"
                    frameborder="0"
                    allowfullscreen></iframe>
            <p style="margin-bottom:30px">
                Рейтинг:
                @Html.DisplayFor(model => model.Rating)
                Дата:
                @Html.DisplayFor(model => model.DateCreate)
                Просмотры:
                @Html.DisplayFor(model => model.Views)
            </p>
        </div>


    </div>
    <a asp-route-value="1" asp-action="CreateMark" asp-route-id="@Model.Id"><span class="fa fa-star checked"></span></a>
    <a asp-route-value="2" asp-action="CreateMark" asp-route-id="@Model.Id"><span class="fa fa-star checked"></span></a>
    <a asp-route-value="3" asp-action="CreateMark" asp-route-id="@Model.Id"><span class="fa fa-star checked"></span></a>
    <a asp-route-value="4" asp-action="CreateMark" asp-route-id="@Model.Id"><span class="fa fa-star checked"></span></a>
    <a asp-route-value="5" asp-action="CreateMark" asp-route-id="@Model.Id"><span class="fa fa-star"></span></a>


    <form style="margin-top:50px;" method="get">
        <p>
            <input style="width:540px;height:150px;" type="text" name="value" />
        </p>
        <p>
            <input type="submit" value="Отправить" asp-route-id="@Model.Id" asp-action="CreateComment" />
        </p>
    </form>
    @if (ViewBag.comments !=null)
    {

    @foreach (var item in (List<Comment>)(@ViewBag.comments))
    {
        <div style="border:3px red; background: #fc3; padding: 10px; width:540px; margin:10px auto;" class="comment">

            <div>
                <div>
                    @item.User
                </div>
                <div>
                    @item.Value
                </div>
            </div>

        </div>
    }
    }




    </body>
</html>