﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Онлайн-Курсы</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-material.css" />
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body class="container">
    <header class="mainHead">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-controller="Home" asp-action="Index">Онлайн-курсы</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="text-center" asp-controller="Video" asp-action="AddVideo">
                                    <img src="../../images/ic_add_video.svg" width="40" style="margin-top: 6px;" height="40" class=" img-responsive" />
                                </a>
                            </li>
                        }
                        <li>
                            <a class="nav-link navLinkA" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navLinkA" asp-controller="Home" asp-action="Contact">Контакты</a>
                        </li>
                        <li>
                            <a class="nav-link navLinkA" asp-controller="Home" asp-action="About">О Нас</a>
                        </li>
                        <li>
                            <a class="nav-link navLinkA" asp-controller="Home" asp-action="GetPay">Оплата</a>
                        </li>
                        <li class="nav-item navLinkA">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

<div class="container body-content">
    @RenderBody()
 
</div>
    <footer class="classy-sticky-footer">
        <p class="text-center">Все права защищены @DateTime.Now.Year г.</p>
        <p class="text-center">v. 0.001</p>
    </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>