﻿@using Microsoft.AspNetCore.Identity
@using OnlineSchool.Web.Data
@using OnlineSchool.Web.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext _DbContext

@if (SignInManager.IsSignedIn(User))
{
    string id = UserManager.GetUserId(User);
    string name = _DbContext.Users.FirstOrDefault(x => x.Id == id).Name;

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity"class="nav-link navLinkA" asp-page="/Account/Manage/Index" title="Manage"> @name!</a>
            </li>
            <li>
                <button style="margin-top: 7px;" type="submit" class="btn btn-link navbar-btn navbar-link">Выход</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity"class="nav-link navLinkA" asp-page="/Account/Register">Регистрация</a></li>
        <br />
        <br />
        <li><a asp-area="Identity"class="nav-link navLinkA" asp-page="/Account/Login">Вход</a></li>
    </ul>
}