﻿@page
@model LoginModel
@{
   
}

@{
    ViewData["Title"] = "Авторизация";
}
<h2 class="authorization_h2 text-center" >@ViewData["Title"]</h2>
<h4 class="authorization_h4 text-center">Используйте локальную учетную запись для авторизации.</h4>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
           
            <form method="post">
               
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group fontSettings">
                    <label asp-for="Input.Email">Почта</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group fontSettings">
                    <label asp-for="Input.Password">Пароль</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group inputRememberMe">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            <span class="rememberMeSpan">Запомнить?</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btnColor">Вход</button>
                </div>
                <div class="form-group">
                    <p>
                        <a class="a_Login" asp-page="./ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a class="a_Login" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрируйтесь как новый пользователь</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
