﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2 class="authorization_h2 text-center">@ViewData["Title"]</h2>
<h4 class="authorization_h4 text-center">Создать новый аккаунт.</h4>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
           
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group fontSettings">
                <label asp-for="Input.Name">Имя</label>
                <input asp-for="Input.Name" class="form-control"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group input-group">
                <input asp-for="Input.ImageFile" type="file" class="form-control" accept="image/*" placeholder="Image"/>
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group fontSettings">
                <label asp-for="Input.Email">Почта</label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group fontSettings">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group fontSettings">
                <label asp-for="Input.ConfirmPassword">Подтвердите пароль</label>
                <input asp-for="Input.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn-lg btn-block btnColor">Регистрация</button>
        </form>
        
        <button style="margin-top: 10px;" type="submit" class=" btn-lg btn-block btnColor btn-info" asp-action="Contact">Регистрация бизнес аккаунта</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}