@{
    Layout = "../Shared/_Layout";
}
<link rel="stylesheet" href="~/css/404styles.css">
<div class="container">
    <div class="container col-md-12">
        <img class="img404" src="~/images/404.png" alt="404">
    </div>


    <div class="content col-md-12">
        <a asp-action="Index" asp-controller="Home">Go to main</a>
    </div>
</div>